# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\04_Programming\03_Experiments\05_Algorithm training (Yandex)\01_part\07_Homework\A_student_observation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
